body {
  background-color: #F5F5F5;
  color: #121212;
  margin: 0;
  text-align: center;
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Adam', sans-serif;
}

h2 {
  font-family: 'Adam', serif;
}

h3 {
  /* color:  #BAB86C; */
  color: gold;
  font-family: 'Adam', serif;
}

h4 {
  /* color:  #4d602a; */
  color: #013220;
  font-family: 'Adam', serif;
}

hr {
  margin: 100px auto;
  border: green 5px;
  border-bottom: none;
  text-decoration: none;
  width: 50%;
}

a {
  color: #F5F5F5;
  font-family: 'Adam', serif;
  margin: 10px 20px;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: gold;
}

#landing-sec {
  background: #121212;
  color: white;
  height: 500px;
}

#service-sec {
  background: #F5F5F5;
}

#vehicle-sec {
  background: #F5F5F5;
}

#info-sec {
  background: #121212;
  color: #F5F5F5;
  margin-top: 50px;
}

#about-sec {
  /* height: 500px; */
}

/* #single-car {
  background-image: url("images/blackmercedes.png");
  background-repeat:no-repeat;
  margin: auto 300px auto 300px;
  filter: grayscale(100px);
  width: 100%;
  height: 900px;
} */

#contact-sec {
  background: #121212;
  color: white;
  /* height: 1400px; */
}

#footer-sec {
  background: #013220;
  color: #F5F5F5;
}

/* .container-fluid {
  margin: 10px 100px 10px 100px;
} */

.nav-link {
  color: #F5F5F5;
}

.nav-link:hover {
  color: gold;
}

.navbar-brand:hover {
  color: gold;
}

.top-container {

}

.title {
  margin-top: 150px;
}

.responsive {
  max-width: 100%;
  height: auto;
  margin: 10px 10px 10px 10px;
}

.services-container {
  /* text-align: center; */
    padding-top: 150px;
}

.service-top {
  /* margin-top: 100px; */
}

.service-row {
  /* padding-left: 100px;
  padding-right: 100px; */
}

.vehicles-container {
  /* margin: 0; */
  /* text-align: center; */
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}


.reservations-container {

}

.pricings-container {

}

.cancellations-container {

}

.info-row {
  /* width: 70%; */
  /* margin: 100px auto 100px auto; */
  /* text-align: left; */
}

.infopic-one {
  width: 50%;
  /* float: left;
  margin-right: 30px; */
  border-radius: 5%;
}

.infopic-two {
  width: 50%;
  /* float: right;
  margin-left: 30px; */
  border-radius: 5%;
}

#info-sec hr {
  text-align: center;
}

.about-container {
  padding-top: 100px;
  padding-bottom: 100px;

}
.about-row {
  /* margin: auto 500px auto 500px;
  text-align: left; */
}

.contact-container {
  /* margin-top: 400px; */
  /* margin: 100px 300px 100px 300px; */
}
